<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mongo:repositories base-package="com.hantsylabs.example.spring.mongo" />

	<!-- Mongo config -->
	<mongo:db-factory id="mongoDbFactory" host="localhost"
		port="27017" dbname="conference-db" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
	</bean>

	<bean class="org.springframework.data.mongodb.core.MongoExceptionTranslator" />

	<bean
		class="org.springframework.data.mongodb.core.mapping.event.LoggingEventListener" />

	
	<!-- Mongo cross-store aspect config -->
	<bean
		class="org.springframework.data.mongodb.crossstore.MongoDocumentBacking"
		factory-method="aspectOf">
		<property name="changeSetPersister" ref="mongoChangeSetPersister" />
	</bean>
	
	<bean id="mongoChangeSetPersister"
		class="org.springframework.data.mongodb.crossstore.MongoChangeSetPersister">
		<property name="mongoTemplate" ref="mongoTemplate" />
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>