<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
	<context:component-scan base-package="com.hantsylabs.example.spring"></context:component-scan>
	<mongo:repositories base-package="com.hantsylabs.example.spring.mongo" />
	<mongo:auditing auditor-aware-ref="auditor" modify-on-creation="false"/>
	<!-- Mongo config -->
	<mongo:db-factory id="mongoDbFactory" host="localhost"
		port="27017" dbname="conference-db" />

	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
	</bean>

	<bean class="org.springframework.data.mongodb.core.MongoExceptionTranslator" />
	
	<bean
		class="org.springframework.data.mongodb.core.mapping.event.LoggingEventListener" />

</beans>