<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<jdbc:embedded-database id="dataSource" type="H2">
		<!-- <jdbc:script location="classpath:/schema.sql" /> -->
	</jdbc:embedded-database>

	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="entityManagerFactory">
		<property name="persistenceUnitName" value="persistenceUnit" />
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceProviderClass" value="org.hibernate.ejb.HibernatePersistence"></property>
		<property name="packagesToScan">
			<array>
				<value>com.hantsylabs.example.spring.model</value>
			</array>
		</property>
		<property name="jpaProperties">
			<value>
				hibernate.format_sql=true
				hibernate.show_sql=true
				hibernate.hbm2ddl.auto=create
			</value>
		</property>
	</bean>

	<bean class="org.springframework.orm.jpa.JpaTransactionManager"
		id="transactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<context:component-scan
		base-package="com.hantsylabs.example.spring.dao,com.hantsylabs.example.spring.jpa">
	</context:component-scan>

	<tx:annotation-driven mode="aspectj" />
</beans>
